@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src:
    url('/fonts/Montserrat.woff2') format('woff2 supports variations'),
    url('/fonts/Montserrat.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html, 
body {
  font-family: 'Montserrat', sans-serif;
  @apply text-white;
  scroll-behavior: smooth;
  overflow: overlay;
  margin: 0;
  padding: 0;
  background: #070712;
  color: #9c9c9c;
}

*::-webkit-scrollbar {
  font-size: 18px;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.25rem;
  @apply bg-scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  margin: 10px;
  width: 10px;
  height: 10px;
  position: relative;
  right: 6px;
  @apply bg-scrollbar-thumb-bg;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-scrollbar-thumb-hover;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas,
.canvas > div {
  z-index: 1;
}